  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
/* 
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #3498db;
    border-bottom: 5px solid red;
    border-radius: 50%;
    animation: spin 0.500s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kipas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.penutup-kipas{
  height: 250px;
  width: 250px;
  border-radius: 150px;
  padding: 5px;
  border: 5px solid #437af9;
  z-index: 2;
}
.penutup-kipas img{
  width: 100%;
  height: 100%;
  
}
.penutup-kipas img.kecepatan2{
  
  animation: kipas 0.700s linear infinite;
}
.penutup-kipas img.kecepatan1{
  animation: kipas 0.400s linear infinite;
}
.tangkai-kipas{
  height: 200px;
  width: 40px;
  position: relative;
  z-index: 1;
  margin-top: -5px;
  background-color: #cccccc;
  border-left: 5px solid #437af9;
  border-right: 5px solid #437af9;
}
.tombol{
  width: 60px;
  gap: 5px;
  
  position: absolute;
  height: 100px;
  background-color: #ffffff;
  left: 50%;
  right: 50%;
  top: 35%;
  border: 1px solid #437af9;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.tombol button{
  border-radius: 100px;
  width:25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-weight: 700;
  font-family: "Sans-Serif", "Sans-Serif";
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}
.tombol button:hover{
  box-shadow: rgba(5,194,239,0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  
}
.kaki-kipas{
  height:50px;
  width: 250px;
  background-color: #437af9;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.baling-baling{
  width: 100%;
  border-radius:100%;
  height:100%;
  border-top: 5px solid black;
  

}
@keyframes kipas {
  0%{
    transform: rotate(0deg);
  }
  100%{
    
    transform: rotate(360deg);
  }
}